{% extends 'all-app/base.html' %}{% block content %}
<div class="row">
    {% if users %}
    <h2>Found {{ users|length }} of searched term {{message}}</h2>
    {% else %}
    <h2> Found no user of that username {{message}}</h2>
    {% endif %}

</div>

<div class="row">

    {% if users %} {% for user in users %}
    <div class="col-sm-6 col-md-3">
        <h1>{{user.user}}</h1>
        <!-- <ul>
            <li><img src="{{images.image.url}}" class="img-responsive"></li>
        </ul> -->
    </div>
    {% endfor %} {% endif %}
</div>
</div>
{% endblock %}