{% extends 'all-app/base.html' %}{% block content %}{{block.super}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>

<body>
    <div class="container">
        <div class="row">
            {% if users %}
            <h2>Found {{ users|length }} of searched term {{message}}</h2>
            {% else %}
            <h2> Found no user of that username {{message}}</h2>
            {% endif %}

        </div>

        <div class="row">

            {% if users %} {% for user in users %}
            <div class="col-sm-6 col-md-3">
                <h1>{{user.user}}</h1>
                {% for im in images %}
                <div class="thumbnail" style="background-image: white;">

                    <a href="{% url 'profiles'%}">{{im.user}}
                            <img class="img-responsive" id="img-post" src='{{im.image.url}}' height='520' width='450'>
                        </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %} {% endif %}
        </div>
    </div>
    </div>
    {% endblock %}
</body>

</html>