{%extends 'all-app/base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        /* got this style from:https://stackoverflow.com/questions/39198975/how-can-i-make-image-fit-in-div-django */
        
        #img-post {
            padding: 0;
            display: block;
            /* margin: 0 auto auto 0; */
            height: 200px;
            width: 200px;
            max-height: 200px;
            max-width: 200px;
        }
    </style>
</head>

<body>
    {% block content %} {{block.super}}
    <div class="container">
        <div class="row">
            {% for im in images %}

            <div class="thumbnail" style="background-image: white;">

                <a href="{% url 'profiles'%}">{{im.user}}</p>
                <img class="img-responsive" id="img-post" src='{{im.image.url}}' height='520' width='450'>

                <p><strong>{{im.likes}} likes</strong> </p>
                <a href="{% url 'like' id=im.id %}" id="like" class="btn"><img src="http://www.i2symbol.com/force_download.php?file=images/symbols/love/white_heart_suit_u2661_icon_256x256.png" heigth="50px" width="60px"></a>

                <p><strong>{{im.user}}</strong> {{im.caption}}</p>

                {% for com in im.comments_set.all %}
                <p>{{com.comment_cont}}</p>
                {% endfor %}
                <a href="{%url 'comment' im.id%}" class="btn btn-primary">comment</a>
            </div>
        </div>{% endfor %} </div>

    {% endblock %}
</body>

</html>